Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

WIP - Move, add, update validation
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/common/session/updateOperations/UpdateSessionOperation.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Implementing requirements
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/tests/api-tests/abortSession.test.ts
  helper-scripts/delete_all_stacks.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating authSessionId -> sessionId in tests
  backend-api/src/functions/services/logging/tests/logger.test.ts
  test-resources/src/functions/services/logging/tests/logger.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating test
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

minor wording update
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add TxMA Event get operation session validation tests
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add Biometric Token Issued update operation session validation tests
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing delete_all_stacks
  helper-scripts/delete_all_stacks.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Actioning @jmooney-dd comments
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.ts
  backend-api/tests/api-tests/abortSession.test.ts
  backend-api/tests/api-tests/utils/apiTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/tests/api-tests/abortSession.test.ts
  backend-api/tests/api-tests/utils/apiTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fixing test
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating quibbles
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating to string
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updatinginterface
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating request test
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11234: POST async/abortSession request body validation (#497)
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/services/logging/tests/logger.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/tests/api-tests/abortSession.test.ts
  backend-api/tests/api-tests/utils/apiTestData.ts
  test-resources/src/functions/services/logging/tests/logger.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add Dynamo adapter session validation tests
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update async TxMA Event tests
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove comments
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add Biometric Token Finished update operation session validation tests
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove session validation from session attributes file
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update run-tests.sh
  backend-api/run-tests.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates issuer in template.yaml, now https://{BaseDns}
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Remove session validation from session attributes file and tests
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.test.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Format
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.test.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unnecessary export declarations
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add assertion against unexpected error log
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename types
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/common/session/updateOperations/UpdateSessionOperation.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename TxMA Event get session operation
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxmaEventGetSessionOperation.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxmaEventGetSessionOperation.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unnecessary Dynamo adapter tests
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add createdAt test values to test data file
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxmaEventGetSessionOperation.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Move session validation helper function
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxmaEventGetSessionOperation.ts
  backend-api/src/functions/common/session/session.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove writing events to TxMA
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove duplicate logs
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor refactor
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12116: create reusable jobs for test-resources pull request workflow
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/job_test-suite.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12116: create reusable jobs for testing, ci checks, and sonarQube (#501)
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/job_test-suite.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
