Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

Update test descriptions
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

create appendPersistentIdentifiersToLogger
  backend-api/src/functions/common/logging/helpers/appendPersistentIdentifiersToLogger.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update api test timeout
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update Github actions
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

use appendPersistentIdentifiersToLogger in credential lambda
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/common/logging/helpers/appendPersistentIdentifiersToLogger.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Use package instead of mock implementation
  backend-api/src/functions/adapters/aws/kms/createKmsSignedJwt/createKmsSignedJwt.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/asyncIssueBiometricCredential/mockGetCredentialFromBiometricSession/mockGetCredentialFromBiometricSession.ts
  backend-api/src/functions/asyncIssueBiometricCredential/mockGetCredentialFromBiometricSession/types.ts
  backend-api/src/functions/types/jwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use appendPersistentIdentifiersToLogger in active session lambda
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use appendPersistentIdentifiersToLogger in biometric token lambda
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use appendPersistentIdentifiersToLogger in finish biometric session lambda
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix typo in active session test causing a failure
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use appendPersistentIdentifiersToLogger in issue biometric credential lambda
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

test wording tweak
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use appendPersistentIdentifiersToLogger in txma event lambda
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use appendPersistentIdentifiersToLogger in abort lambda
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates readme
  backend-api/README.md
  backend-api/docs/logging.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Use shared mockSessionId const in tests
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/services/session/tests/mocks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12524: Send the DCMAW_ASYNC_CRI_END event to TxMA (#617)
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
  backend-api/src/functions/services/events/types.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Temporarily enable both workflows for draft PR
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Fix typos
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12523 enrich outbound queue error log (#610)
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

init
  backend-api/infra/functions/issueBiometricCredential.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

generating template
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

typo in readme
  backend-api/docs/logging.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Make readme clearer
  backend-api/docs/logging.md
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update generate_env_file.sh to work for sh and bash
  backend-api/generate_env_file.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename variable
  backend-api/generate_env_file.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Move package to production dependencies...
  backend-api/package-lock.json
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert temporary workflow changes
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12371: Add API test to check abort session error message has been successfully written to IPVCore outbound queue (#621)
  backend-api/generate_env_file.sh
  backend-api/infra/parent.yaml
  backend-api/run-tests.sh
  backend-api/template.yaml
  backend-api/tests/api-tests/abortSession.test.ts
  backend-api/tests/api-tests/utils/apiInstance.ts
  backend-api/tests/api-tests/utils/apiTestData.ts
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
  backend-api/tests/infra-tests/application.test.ts
  helper-scripts/deploy_backend.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

readme typo
  backend-api/docs/logging.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-13162] Use real biometric credential package in issueBiometricCredential (#626)
  .github/dependabot.yml
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
  .gitignore
  backend-api/.npmrc
  backend-api/Dockerfile
  backend-api/README.md
  backend-api/generate_npmrc.sh
  backend-api/package-lock.json
  backend-api/package.json
  backend-api/run-tests-locally.sh
  backend-api/src/functions/adapters/aws/kms/createKmsSignedJwt/createKmsSignedJwt.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/asyncIssueBiometricCredential/mockGetCredentialFromBiometricSession/mockGetCredentialFromBiometricSession.ts
  backend-api/src/functions/asyncIssueBiometricCredential/mockGetCredentialFromBiometricSession/types.ts
  backend-api/src/functions/types/jwt.ts
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

remove appendKeys func in lambda
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove needless logging of sessionId in adapter as it will hve already been appeneded as a persistent identifier
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

saving work
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

init
  backend-api/infra/functions/issueBiometricCredential.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

saving work
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

generating template
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

updating
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove persistent identifier assertions from all tests apart from completed logs
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add origin info re persistent identifers to logging.md
  backend-api/docs/logging.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads
