Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Rename function
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

actioning @chris-cooksley-gds comments
  backend-api/docs/sessionStateMachine.md
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.test.ts
  backend-api/src/functions/common/session/updateOperations/AbortSession/AbortSession.test.ts
  backend-api/src/functions/common/session/updateOperations/AbortSession/AbortSession.ts
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11745: TxMA event alarms
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11230: Write TxMA billing events (#525)
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/txmaEventConfig.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
  backend-api/src/functions/services/events/types.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/txmaEvent.test.ts
  test-resources/src/functions/dequeue/getEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates log message
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Create IssueBiometricCredentialReservedConcurrentExecutions mapping and use
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

fix: add canary alarm condition
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/biometricToken.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/monitoring/canaryAlarms.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update success response to return a 200 status code
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds infra test for issueBioCred lambda reserved concurrency
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove incorrect event block, un needed permission, updates sqs permissions
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12109: Create skeleton issueBiometricCredential Lambda (#527)
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update openAPI spec
  backend-api/openApiSpecs/async-public-spec.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unused values from openAPI spec
  backend-api/openApiSpecs/async-public-spec.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update request body values in openAPI spec
  backend-api/openApiSpecs/async-public-spec.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11476: Update /txmaEvent endpoint to return a 200 success response (#530)
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12115: add IPV Core SQS alarms
  backend-api/infra/README.md
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

undo infra changes
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/api-tests/biometricToken.test.ts
  backend-api/tests/api-tests/utils/apiInstance.ts
  backend-api/tests/api-tests/utils/apiTestData.ts
  test-resources/infra/parent.yaml
  test-resources/infra/test-session/api.yaml
  test-resources/openApiSpecs/test-sessions-spec.yaml
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

simplify sessions adapter
  test-resources/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

simplify session functionality
  test-resources/src/functions/common/session/SessionRegistry.ts
  test-resources/src/functions/common/session/session.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix matcher typing
  test-resources/src/functions/testUtils/matchers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  test-resources/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  test-resources/src/functions/common/session/SessionRegistry.ts
  test-resources/src/functions/common/session/session.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

missing path parameter
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.test.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.ts
  test-resources/src/functions/test-sessions/testSessionsHandlerConfig.ts
  test-resources/src/functions/testUtils/mockRequest.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

validate path params
  test-resources/src/functions/test-sessions/testSessionsHandler.test.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.ts
  test-resources/src/functions/testUtils/mockRequest.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

log when lambda completes
  test-resources/src/functions/common/lambdaResponses.ts
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.test.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update test-resources api spec
  test-resources/infra/common/api.yaml
  test-resources/infra/parent.yaml
  test-resources/openApiSpecs/test-resources-spec.yaml
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

update vendor processing alarm names
  backend-api/infra/README.md
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12115: add IPV Core SQS alarms (#528)
  backend-api/infra/README.md
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

fix: add canary alarm condition
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/biometricToken.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/monitoring/canaryAlarms.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Adds jose package to dependabot ignore blocks for backend-api and test-resources
  .github/dependabot.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

fixes for infra
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  helper-scripts/deploy_backend.sh
  test-resources/infra/common/api.yaml
  test-resources/infra/test-sessions/function.yaml
  test-resources/openApiSpecs/test-resources-spec.yaml
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

fix version number to ignore
  .github/dependabot.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

test
  .github/dependabot.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Update ignore strat to ignore all major versions > 5.x
  .github/dependabot.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

WIP - add async TxMA Event alarms
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11274: alarms for async/abortSession
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

actioning @chris-cooksley-gds commets
  backend-api/docs/sessionStateMachine.md
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updated to fix duplication
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

wip - james
  test-resources/infra/common/api.yaml
  test-resources/infra/test-sessions/function.yaml
  test-resources/openApiSpecs/test-resources-spec.yaml
  test-resources/template.yaml
  test-resources/tests/api-tests/dequeue/utils/apiTestHelpers.ts
  test-resources/tests/api-tests/test-sessions/test-sessions.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

extracting handlers
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/common/handlers/errorHandler.ts
  backend-api/src/functions/common/handlers/eventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11907: Updates Dependabot to ignore jose package bumps > to 5.X.X (#534)
  .github/dependabot.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
