Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

Move session validation
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert changes
  backend-api/generate_env_file.sh
  backend-api/infra/parent.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor changes
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor changes
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update getOperation
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Remove unnecessary function
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11501 Remove subscription filter for proxy lambda
  backend-api/infra/api/private.yaml
  backend-api/infra/api/proxy.yaml
  backend-api/infra/api/sessions.yaml
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/biometricToken.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11501 Remove unneeded condition
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-11501 Update test following omission of proxy lambda group
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11501 Amend conditionals and re add logging for proxy resources
  backend-api/infra/api/proxy.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11501 Remove comments from tests and amend subscription filters for proxy resources
  backend-api/infra/api/proxy.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11501 Update test
  backend-api/infra/api/proxy.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add session validation logs
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add log data and update test
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix error in infra test
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update use of test data
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11501 Update test and private api naming
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

WIP - Switch GetItemCommand to QueryCommand
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/QuerySessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

WIP - QueryCommand
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/getOperations/QuerySessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11501 Update test and mappings
  backend-api/infra/api/private.yaml
  backend-api/infra/api/proxy.yaml
  backend-api/infra/api/sessions.yaml
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/biometricToken.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11501 Update Private api to not use name async credential for logging
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11501 Update private api test for logs
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Use QueryCommand
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/getOperations/QuerySessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add API test assertion for writing TxMA event
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW11501 Update mappings, log group name for proxy api and tests
  backend-api/infra/api/private.yaml
  backend-api/infra/api/proxy.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updating PR template
  .github/pull_request_template.md
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Log clientId in request before it is compared
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

WIP - Move validation to QueryCommand
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/getOperations/QuerySessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-12012] fix error in infra test (#479)
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11501 Update log group name so it can revert back in the other PR
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW - 11451: Updating PR Template (#480)
  .github/pull_request_template.md
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12000: Temporarily log clientId in in token lambda for IPV request debugging (#481)
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

WIP - QueryCommand
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "WIP - QueryCommand"
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "WIP - Move validation to QueryCommand"
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/getOperations/QuerySessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11501 Updating following PR to update log group before this one
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre
