Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

Actioning @chris-cooksley-gds comments
  backend-api/infra/functions/abortSession.yaml
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.config.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update session attributes types and functions
  backend-api/src/functions/common/session/session.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds debug logs
  backend-api/src/functions/asyncToken/asyncTokenHandler.ts
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating api tests
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating security
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update get session operation
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds debug logs
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/asyncTokenHandler.test.ts
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Actioned @jmooney-dd comments
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Actioning @kikidawson-gds comments
  backend-api/infra/functions/abortSession.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Revert "DCMAW-12000: Add debug log for async token authorization header (#489)"
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Revert "DCMAW-12000: Temporarily log clientId in in token lambda for IPV request debugging (#481)"
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12000: Reverts IPVCore debug logs (#495)
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Creates basic working script to generate hashed secret
  helper-scripts/.gitignore
  helper-scripts/package-lock.json
  helper-scripts/package.json
  helper-scripts/src/createHashedSecret.ts
  helper-scripts/tsconfig.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update package.json scripts
  helper-scripts/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Restructure and small bits of styling
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates error handling to be graceful
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

file name update
  helper-scripts/package.json
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/index.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

file name update 2
  helper-scripts/package.json
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/hashSecret.ts
  helper-scripts/src/generateHashedSecret/index.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add formatters and linters and use
  helper-scripts/eslint.config.mjs
  helper-scripts/package-lock.json
  helper-scripts/package.json
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/hashSecret.ts
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates readme
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove used test script in helperscript packages
  helper-scripts/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

WIP - Session validation tests
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Removes script from package.json
  helper-scripts/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix typo
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove main key in package.json
  helper-scripts/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

move all styling out of main file and move generating message in relevant func
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/hashSecret.ts
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

format
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/hashSecret.ts
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update func name
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

spread echos consistently
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix elpsis
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates hashSecret to use obj interface so you cannot accidentally pass secret and salt and vice versa
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/hashSecret.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates readme
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

WIP - Session validation
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.test.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11233: Creating async/abortSession skeleton lambda (#488)
  backend-api/infra/functions/abortSession.yaml
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/asyncAbortSession/handlerDependencies.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/abortSession.test.ts
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update types/node to be on 20.X.X
  helper-scripts/package-lock.json
  helper-scripts/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds dependabot config for helper-scripts dir
  .github/dependabot.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Update error message styling
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds process.exit(1) when unexpected error happens
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Let node finish naturally, no need for process.exit here at the moment
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads
