Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

DCMAW-12116: create reusable jobs for pull request workflow for test-resources
  .github/workflows/test-resources-pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12116: create reusable jobs for pull request workflow for test-resources (#498)
  .github/workflows/test-resources-pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12116: fix formatting step error
  .github/workflows/job_ci-checks.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Update and align test data
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12116: fix formatting step error (#502)
  .github/workflows/job_ci-checks.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Update test data
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates to node 22, adds nvmrc file and engines in package.json
  helper-scripts/.nvmrc
  helper-scripts/package-lock.json
  helper-scripts/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Return and log all invalid attributes when there is an error
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxmaEventGetSessionOperation.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxmaEventGetSessionOperation.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Implementing ticket
  backend-api/infra/functions/abortSession.yaml
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCoreOutbound.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Rename operation
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds pull require workflow for helper-scripts to do linting and formatting
  .github/workflows/helper-scripts-pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Fixing na,ing issues with IPVCoreOutboundSQSQueueDeadLetterQueue
  backend-api/infra/queue/ipvCoreOutbound.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updating naming
  backend-api/infra/functions/abortSession.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update return value for type/sturctural issues
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Pin actions in github workflows
  .github/workflows/helper-scripts-pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Update workflows to point to correct package
  .github/workflows/helper-scripts-pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Update helper scripts readme
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove zsh notation
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Move validation helper function to utils
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.ts
  backend-api/src/functions/common/session/session.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/utils/utils.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Move message func to hashSecret file
  helper-scripts/src/generateHashedSecret/hashSecret.ts
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update func name from generate to write
  helper-scripts/src/generateHashedSecret/hashSecret.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

typo
  helper-scripts/src/generateHashedSecret/hashSecret.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

move message funcs and rename to be conssitent
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add process.exit
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Removes unused import
  helper-scripts/src/generateHashedSecret/prompts.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove v from nvmrc
  helper-scripts/.nvmrc
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Clean up workflow to mirror newer workflows
  .github/workflows/helper-scripts-pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12117: Adds helper script to generate hashed secret (#496)
  .github/dependabot.yml
  .github/workflows/helper-scripts-pull-request.yml
  helper-scripts/.gitignore
  helper-scripts/.nvmrc
  helper-scripts/README.md
  helper-scripts/eslint.config.mjs
  helper-scripts/package-lock.json
  helper-scripts/package.json
  helper-scripts/src/generateHashedSecret/generateHashedSecret.ts
  helper-scripts/src/generateHashedSecret/hashSecret.ts
  helper-scripts/src/generateHashedSecret/prompts.ts
  helper-scripts/tsconfig.json
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

Remove validation
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/common/session/updateOperations/UpdateSessionOperation.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating IPVCoreOutbound -> IPVCore
  backend-api/infra/functions/abortSession.yaml
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCoreOutbound.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Actioning @sandymay-dd comments
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCoreOutbound.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Combine GetSessionError client errors
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing outbound
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCoreOutbound.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

renaming file
  backend-api/infra/queue/ipvCore.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove SQS policy and unused env vars
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/txmaEventConfig.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Minor change
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Udpate test assertion
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Udpate test descriptions
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

actipning last comments
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCore.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre
