Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

update branches
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/helper-scripts-pull-request.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

WIP - write billing event
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/txmaEventConfig.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/types.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove sam build && update input names
  .github/workflows/job_ci-checks.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12118: Create and use pull request workflow (#508)
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/helper-scripts-pull-request.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

wip: stash apply this
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncBiometricToken/validateRequestBody/validateRequestBody.ts
  test-resources/openApiSpecs/test-sessions-spec.yaml
  test-resources/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  test-resources/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  test-resources/src/functions/common/lambdaResponses.ts
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/common/logging/logger.ts
  test-resources/src/functions/common/logging/setupLogger.ts
  test-resources/src/functions/common/session/SessionRegistry.ts
  test-resources/src/functions/common/session/session.ts
  test-resources/src/functions/common/utils/result.ts
  test-resources/src/functions/common/utils/tests/result.test.ts
  test-resources/src/functions/dequeue/dequeueHandler.ts
  test-resources/src/functions/dequeue/getConfig.ts
  test-resources/src/functions/dequeue/getEvent.ts
  test-resources/src/functions/dequeue/tests/dequeueHandler.test.ts
  test-resources/src/functions/sts-mock/token/configService/configService.ts
  test-resources/src/functions/sts-mock/token/keyRetriever/keyRetriever.ts
  test-resources/src/functions/sts-mock/token/keyRetriever/tests/mocks.ts
  test-resources/src/functions/sts-mock/token/tokenEncrypter/tests/mocks.ts
  test-resources/src/functions/sts-mock/token/tokenEncrypter/tokenEncrypter.ts
  test-resources/src/functions/sts-mock/token/tokenSigner/tests/mocks.ts
  test-resources/src/functions/sts-mock/token/tokenSigner/tokenSigner.ts
  test-resources/src/functions/sts-mock/token/validateServiceTokenRequest/validateServiceTokenRequest.ts
  test-resources/src/functions/test-sessions/handlerDependencies.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.test.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.ts
  test-resources/src/functions/test-sessions/testSessionsHandlerConfig.ts
  test-resources/src/functions/test-sessions/validateRequestBody/validateRequestBody.test.ts
  test-resources/src/functions/test-sessions/validateRequestBody/validateRequestBody.ts
  test-resources/src/utils/result.ts
  test-resources/tests/api-tests/test-sessions/test-sessions.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

reset time and mocks in sessionService unit tests
  backend-api/src/functions/services/session/tests/sessionService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add createdAt to BiometricTokenIssued expression
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/src/functions/utils/utils.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use createdAt in getActiveSession dynamo request
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/services/session/tests/sessionService.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

testing fixes
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/storage/session.yaml
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/services/session/tests/sessionService.test.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Create createdAt GSI
  backend-api/infra/storage/session.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

add createdAt to BiometricSessionFinished expression
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates date util to return a number
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/utils/utils.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Write billing event to TxMA
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
  backend-api/src/functions/services/events/tests/mocks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates async token endpoint to uri decode clientId and clientSecret
  backend-api/src/functions/asyncToken/asyncTokenHandler.test.ts
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Refactor writing billing event to TxMA
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename parameter
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

correctly set validAuthorizationHeader in token unit tests to not url encode colon
  backend-api/src/functions/asyncToken/asyncTokenHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12247: Updates async/token endpoint to uri decode clientId and clientSecret (#522)
  backend-api/src/functions/asyncToken/asyncTokenHandler.test.ts
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

feedback: remove redundant afterEach jest function
  backend-api/src/functions/services/session/tests/sessionService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11220: Update Sessions table ttl to day from 1 hour
  backend-api/infra/functions/credential.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update unit test data
  backend-api/src/functions/services/session/tests/sessionService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11220: Update session expiry checks in Dynamo operations (#520)
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/storage/session.yaml
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/services/session/tests/sessionService.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/src/functions/utils/utils.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Removes stale comment
  backend-api/infra/functions/credential.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor logging updates to make logs clearer
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
  backend-api/src/functions/services/clientRegistryService/tests/clientRegistryService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove useless re useage of errorResult
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Reverts IPVCore debug logs
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11220: Update Sessions table timeToLive to 1 day (#523)
  backend-api/infra/functions/credential.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/services/session/tests/sessionService.test.ts
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Revert "Revert "DCMAW-12000: Reverts IPVCore debug logs" (#513)"
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update Lambda permissions and add event name to allow list
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/template.yaml
  test-resources/src/functions/dequeue/getEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Revert "Revert "DCMAW-12000: Reverts IPVCore debug logs"" (#526)
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Remove get command method from get operation
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Typo
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Copy lambda request body data
  test-resources/src/functions/sts-mock/token/tests/tokenHandler.test.ts
  test-resources/src/functions/testUtils/mockRequest.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

copy jest config
  test-resources/jest.config.ts
  test-resources/src/functions/testUtils/matchers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

passing test
  test-resources/src/functions/test-sessions/testSessionsHandler.test.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

copy lambda setup
  test-resources/src/functions/common/config/environment.ts
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/common/session/session.ts
  test-resources/src/functions/test-sessions/testSessionsHandlerConfig.ts
  test-resources/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix typing
  test-resources/src/functions/sts-mock/token/validateServiceTokenRequest/validateServiceTokenRequest.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix tokenSigner typing
  test-resources/src/functions/sts-mock/token/tokenSigner/tokenSigner.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix result typing
  test-resources/src/functions/sts-mock/token/configService/configService.ts
  test-resources/src/functions/sts-mock/token/keyRetriever/keyRetriever.ts
  test-resources/src/functions/sts-mock/token/keyRetriever/tests/keyRetriever.test.ts
  test-resources/src/functions/sts-mock/token/keyRetriever/tests/mocks.ts
  test-resources/src/functions/sts-mock/token/tokenEncrypter/tests/mocks.ts
  test-resources/src/functions/sts-mock/token/tokenEncrypter/tests/tokenEncrypter.test.ts
  test-resources/src/functions/sts-mock/token/tokenEncrypter/tokenEncrypter.ts
  test-resources/src/functions/sts-mock/token/tokenSigner/tests/mocks.ts
  test-resources/src/functions/sts-mock/token/tokenSigner/tests/tokenSigner.test.ts
  test-resources/src/functions/sts-mock/token/tokenSigner/tokenSigner.ts
  test-resources/src/functions/sts-mock/token/validateServiceTokenRequest/validateServiceTokenRequest.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

config validation
  test-resources/src/functions/common/config/environment.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.test.ts
  test-resources/src/functions/test-sessions/testSessionsHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
