Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

adds run pact test var in pr workflow yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

add pact test step in test-suite workflow yml
  .github/workflows/job_test-suite.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

add authorize command in package
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add source secret variable to workflow
  .github/workflows/job_test-suite.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

remove source env in authorize npm script
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

change pact test default to false
  .github/workflows/job_test-suite.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

revert default change
  .github/workflows/job_test-suite.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

wip - attempt to pass secrets thru
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Revert "wip - attempt to pass secrets thru"
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

wip - attempt to pass secrets thru
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Make non shared job
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/job_test-suite.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

remove run pact tests var
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

remove depends on for pact job, it can run in parallel
  .github/workflows/backend-api-pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

rever secret inheritance change
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

test console log only - to be reverted
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "test console log only - to be reverted"
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add publish script to package
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add pact test to push to main workflow including publush step
  .github/workflows/backend-api-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

test console log only - to be reverted
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "test console log only - to be reverted"
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates verifier config
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove publish script, not needed
  .github/workflows/backend-api-push-to-main.yml
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

[DCMAW-14151] Downgrade high threshold IPV Core outbound DLQ alarm
  backend-api/infra/resources/async/ipvCoreOutboundQueue/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

[DCMAW-14151] Downgrade high threshold IPV Core outbound DLQ alarm (#720)
  backend-api/infra/resources/async/ipvCoreOutboundQueue/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

add set credential script
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  backend-api/package.json
  helper-scripts/.gitignore
  helper-scripts/src/setPactCredentials/set_pact_credentials.sh
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

fix dir, remove import
  backend-api/src/functions/tests/pact/pact.test.ts
  helper-scripts/src/setPactCredentials/set_pact_credentials.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

empty space removal
  helper-scripts/src/setPactCredentials/set_pact_credentials.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

move set pack creds script
  .gitignore
  backend-api/package.json
  backend-api/src/functions/tests/pact/setPactCredentials/set_pact_credentials.sh
  helper-scripts/.gitignore
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates readme
  backend-api/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove local pact file
  backend-api/src/functions/tests/pact/pactFiles/IpvCoreBack-DcmawAsyncCriProvider.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

reorder a-z
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update readme
  backend-api/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove duplicative steps
  backend-api/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates comment in workflow
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

add error handling to script
  backend-api/src/functions/tests/pact/setPactCredentials/set_pact_credentials.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update package path
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove comment:
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

store creds outside repo
  .gitignore
  backend-api/README.md
  backend-api/src/functions/tests/pact/setPactCredentials/set_pact_credentials.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-14175] Remove high threshold active session 4XX alarm
  backend-api/infra/resources/sessionsApi/activeSession/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
