Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

re ordering
  backend-api/src/functions/types/jwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Capitalise type
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/types/jwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12522: Create interface for signing Jwt and add to issueBiometricCredential deps (#609)
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/types/jwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

feedback: redundant describe block
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix test ordering
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Added comment for redundant Update Operation function
  backend-api/src/functions/common/session/updateOperations/ResultSent/ResultSent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

feedback: use SQSMessageBody type in dependency interface
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

feedback: throw error in handler body
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

feedback: clarify audit logging function name
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12523 enrich outbound queue error log
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/src/functions/common/session/updateOperations/ResultSent/ResultSent.ts
  backend-api/src/functions/common/session/updateOperations/ResultSent/ResultSent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Make dependabot PR titles clearer (#605)
  .github/dependabot.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12523: Write VC to outbound queue and update session state (#608)
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/src/functions/adapters/aws/sqs/types.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/RetainMessageOnQueue.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/common/session/updateOperations/ResultSent/ResultSent.test.ts
  backend-api/src/functions/common/session/updateOperations/ResultSent/ResultSent.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

create log messages for create signed jwt
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

extract kms client out of adapter so it can be shared
  backend-api/src/functions/adapters/aws/kms/kmsAdapter.ts
  backend-api/src/functions/adapters/aws/kms/kmsClient.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add create signed jwt logic and add kidArn to interface
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.test.ts
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update file structure, move der sign to unit test data file
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.test.ts
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/asyncToken/tokenService/tests/tokenService.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds return type to buildTokenComponents func
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates success mock in unit test
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates interface to take in kid, rather than kidArn
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.test.ts
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add vc signing key to lambda infra
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/issueBiometricCredentialConfig.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

throws error when signing fails
  backend-api/src/functions/asyncIssueBiometricCredential/RetainMessageOnQueue.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds happy path test to confirm correct args passed
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

rename jest mock
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

create CreateSignedJwt type
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.ts
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/types.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

test wording
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

const renaming
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

create clearer separation in funcs
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

rename const for clarity
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update getSignature func input for safety
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

assert correctly on error
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Test wording
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

minor renaming
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates test wording
  backend-api/src/functions/adapters/aws/kms/createSignedJwt/createSignedJwt.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update createjwt func name
  backend-api/src/functions/adapters/aws/kms/createKmsSignedJwt/createKmsSignedJwt.test.ts
  backend-api/src/functions/adapters/aws/kms/createKmsSignedJwt/createKmsSignedJwt.ts
  backend-api/src/functions/adapters/aws/kms/createKmsSignedJwt/types.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12522: Sign verified credential jwt (#613)
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/src/functions/adapters/aws/kms/createKmsSignedJwt/createKmsSignedJwt.test.ts
  backend-api/src/functions/adapters/aws/kms/createKmsSignedJwt/createKmsSignedJwt.ts
  backend-api/src/functions/adapters/aws/kms/createKmsSignedJwt/types.ts
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/adapters/aws/kms/kmsAdapter.ts
  backend-api/src/functions/adapters/aws/kms/kmsClient.ts
  backend-api/src/functions/asyncIssueBiometricCredential/RetainMessageOnQueue.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/asyncIssueBiometricCredential/issueBiometricCredentialConfig.ts
  backend-api/src/functions/asyncToken/tokenService/tests/tokenService.test.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

implementing CRI_END
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding tests
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing unused var
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fixing code smell
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads
