Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Revert "Use QueryCommand"
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/getOperations/QuerySessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "WIP - QueryCommand"
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/getOperations/QuerySessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "WIP - Switch GetItemCommand to QueryCommand"
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Log command input
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11501 Remove v2 tag
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12000: add always deploy
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12000: add always deploy (#483)
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Move sessionAttributes folder
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.test.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11501 Update log group name so it can revert back in the other PR (#482)
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12000: Temporarily log clientId in in token lambda for IPV request debugging (#481)
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-12012] fix error in infra test (#479)
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW - 11451: Updating PR Template (#480)
  .github/pull_request_template.md
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12000: add always deploy (#483)
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11501 Update log group name so it can revert back in the other PR (#482)
  backend-api/infra/api/private.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11501 Updating following PR to update log group before this one
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW11501 Update mappings, log group name for proxy api and tests
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Revert "[DCMAW-12012] fix error in infra test (#479)"
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-11339] SQS queue and DLQ alarms
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Revert "DCMAW-11501 Updating following PR to update log group before this one"
  backend-api/infra/api/private.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Refactor session attribute functions
  backend-api/src/functions/common/session/session.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-11339] SQS queue and DLQ alarms (#478)
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11501 Move to new branch
  backend-api/infra/api/private.yaml
  backend-api/infra/api/proxy.yaml
  backend-api/infra/api/sessions.yaml
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/biometricToken.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

[DCMAW-11501] Set up CSLS logging (#486)
  backend-api/infra/api/private.yaml
  backend-api/infra/api/proxy.yaml
  backend-api/infra/api/sessions.yaml
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/biometricToken.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

WIP - Update tests
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.test.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update tests
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Tidy tests
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add missing and existing log assertions
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add missing log assertion
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unused interface
  backend-api/src/functions/common/session/SessionRegistry.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update getDynamoDbKeyExpression
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix/DCMAW-11501 update logs destination name
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Rename parameters for readability
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Format
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename test top level describe
  backend-api/src/functions/common/session/getOperations/TxmaEvent/TxMAEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix/DCMAW-11501 update logs destination name (#487)
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Creating skeleton lambda
  backend-api/infra/functions/abortSession.yaml
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.config.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/asyncAbortSession/handlerDependencies.ts
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/abortSession.test.ts
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12000: Debug log for async token authorization header
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Adding subscription filter
  backend-api/infra/functions/abortSession.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

removing validate
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncAbortSession/validateRequestBody/validateRequestBody.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12000: Add debug log for async token authorization header (#489)
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
