Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

readme tweek
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix typo
  helper-scripts/src/deleteStackSets/getStacks/getStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

undoing incorrect alarm removal
  backend-api/infra/monitoring/sqsAlarms.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

template fix
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

readding test
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

changing test
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

minor styling - added empty line
  helper-scripts/src/deleteStackSets/deleteStacks/deleteStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13859: Remove `high-threshold-ipv-core-dlq-age-of-oldest-message` & `high-threshold-vendor-processing-dlq-age-of-oldest-message` Alarms (#695)
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

add readid mock stack names to protected stacks
  helper-scripts/src/deleteStackSets/protectedStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

installs @aws-sdk/client-cloudformation
  helper-scripts/package-lock.json
  helper-scripts/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use @aws-sdk/client-cloudformation instead of zx to check if stack exists
  helper-scripts/src/deleteStackSets/getStacks/getStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  helper-scripts/src/deleteStackSets/getStacks/getStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add region to CloudFormationClient class instance
  helper-scripts/src/deleteStackSets/getStacks/getStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

only call once when checking if stack exists
  helper-scripts/src/deleteStackSets/getStacks/getStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

rename files
  helper-scripts/README.md
  helper-scripts/package.json
  helper-scripts/src/deleteStacks/deleteCloudFormationStacks/deleteCloudFormationStacks.ts
  helper-scripts/src/deleteStacks/deleteStacks.ts
  helper-scripts/src/deleteStacks/getStacks/getStacks.ts
  helper-scripts/src/deleteStacks/getStacks/prompts.ts
  helper-scripts/src/deleteStacks/protectedStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix error handling so script doesn't hang
  helper-scripts/delete_stack.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds log to advise user to check cloudformation console
  helper-scripts/delete_stack.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-10736: Enable developers to delete multiple stacks (#694)
  helper-scripts/.gitignore
  helper-scripts/README.md
  helper-scripts/delete_stack.sh
  helper-scripts/package-lock.json
  helper-scripts/package.json
  helper-scripts/src/deleteStacks/deleteCloudFormationStacks/deleteCloudFormationStacks.ts
  helper-scripts/src/deleteStacks/deleteStacks.ts
  helper-scripts/src/deleteStacks/getStacks/getStacks.ts
  helper-scripts/src/deleteStacks/getStacks/prompts.ts
  helper-scripts/src/deleteStacks/protectedStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

implementing ticket
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

template
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

revert package version
  backend-api/package-lock.json
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating test file
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

actioning james' comments
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Revert "actioning james' comments"
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13808: Split `ipv-core-dlq-message-visible` into high and low threshold alarms (#696)
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Copy over and integrate STS Jwks cache solution
  backend-api/src/functions/common/jwks/JwksCache/JwksCache.test.ts
  backend-api/src/functions/common/jwks/JwksCache/JwksCache.ts
  backend-api/src/functions/common/jwks/getJwksFromJwksUri/getJwksFromJwksUri.test.ts
  backend-api/src/functions/common/jwks/getJwksFromJwksUri/getJwksFromJwksUri.ts
  backend-api/src/functions/common/jwks/types.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/request/parseAgeHeader/parseAgeHeader.test.ts
  backend-api/src/functions/common/request/parseAgeHeader/parseAgeHeader.ts
  backend-api/src/functions/common/request/parseCacheControlHeader/parseCacheControlHeader.test.ts
  backend-api/src/functions/common/request/parseCacheControlHeader/parseCacheControlHeader.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Raise maximum JWKS cache duration to 15m
  backend-api/src/functions/common/jwks/JwksCache/JwksCache.test.ts
  backend-api/src/functions/common/jwks/JwksCache/JwksCache.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update log message code names
  backend-api/src/functions/common/jwks/getJwksFromJwksUri/getJwksFromJwksUri.test.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Simplify error responses
  backend-api/src/functions/common/jwks/JwksCache/JwksCache.test.ts
  backend-api/src/functions/common/jwks/JwksCache/JwksCache.ts
  backend-api/src/functions/common/jwks/getJwksFromJwksUri/getJwksFromJwksUri.test.ts
  backend-api/src/functions/common/jwks/getJwksFromJwksUri/getJwksFromJwksUri.ts
  backend-api/src/functions/common/jwks/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Test wording
  backend-api/src/functions/common/jwks/JwksCache/JwksCache.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Implementing ticket
  backend-api/openApiSpecs/async-public-spec.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update burst and rate limits
  test-resources/infra/parent.yaml
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

jest v30 migration fixes
  backend-api/package.json
  backend-api/src/functions/adapters/aws/kms/kmsAdapter.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/jwe/tests/symmetricDecrypter.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/getBiometricSession/getBiometricSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding test
  backend-api/tests/api-tests/jwks.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removed comment
  backend-api/tests/api-tests/jwks.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

simplified test
  backend-api/tests/api-tests/jwks.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updated test name
  backend-api/tests/api-tests/jwks.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
