Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

fixing issue with deployment
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCore.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Remove duplicate log
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add status text assertions to api tests
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12118: create pull request workflow
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/workflow_pull-request.yml
  test-resources/package.json
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

try if exists for npm scripts
  .github/workflows/job_ci-checks.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

add conditionals for sonarqube
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12116: create reusable jobs for pull request workflow for test-resources
  test-resources/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use workflow for helper scripts
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/helper-scripts-pull-request.yml
  .github/workflows/test-resources-pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

remove --if-present replace with input
  .github/workflows/helper-scripts-pull-request.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Minor changes
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

try INCLUDES_LAMBDA_CODE
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Update data type for return value
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Minor change
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11475: Add session validation to TxmaEvents Lambda (#469)
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/handlerDependencies.ts
  backend-api/src/functions/asyncTxmaEvent/txmaEventConfig.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.ts
  backend-api/src/functions/common/session/session.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.test.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/src/functions/utils/utils.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/biometricToken.test.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12098: Create IPVCore Outbound Queue and DeadLetterQueue (#504)
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCore.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

adds createdAt to BiometricTokenIssued expression
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/src/functions/utils/utils.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds createdAt to BiometricSessionFinished expression
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Create createdAt GSI
  backend-api/infra/storage/session.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

update date util to return a number
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/utils/utils.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use createdAt in getActiveSession dynamo function
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/services/session/tests/sessionService.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

reset time and mocks in sessionService tests
  backend-api/src/functions/services/session/tests/sessionService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update syntax to be consistent with main template - no functional difference
  backend-api/infra/parent.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add createdAt to BiometricTokenIssued expression
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/src/functions/utils/utils.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add createdAt to BiometricSessionFinished expression
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Create createdAt GSI
  backend-api/infra/storage/session.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updates date util to return a number
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/utils/utils.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use createdAt in getActiveSession dynamo request
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/services/session/tests/sessionService.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

reset time and mocks in sessionService unit tests
  backend-api/src/functions/services/session/tests/sessionService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

testing fixes
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/storage/session.yaml
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/services/session/tests/sessionService.test.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add test session endpoint to create sessions
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  test-resources/infra/parent.yaml
  test-resources/infra/test-session/api.yaml
  test-resources/openApiSpecs/test-sessions-spec.yaml
  test-resources/template.yaml
  test-resources/test-sessions.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12111: Update issuer claim in jwt issued by async/token (#509)
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12118: create reusable workflow for pull request
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

licence was changed in previous commit but lock file wasn't updated
  helper-scripts/package-lock.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Fixes typo in PR template
  .github/pull_request_template.md
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12117: Updates helper-scripts package lock file, fixes typo in PR template (#512)
  .github/pull_request_template.md
  helper-scripts/package-lock.json
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

add api tests
  backend-api/tests/api-tests/biometricToken.test.ts
  backend-api/tests/api-tests/utils/apiInstance.ts
  backend-api/tests/api-tests/utils/apiTestData.ts
  test-resources/openApiSpecs/test-sessions-spec.yaml
  test-resources/tests/api-tests/dequeue/utils/apiTestHelpers.ts
  test-resources/tests/api-tests/test-sessions/test-sessions.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "DCMAW-12000: Reverts IPVCore debug logs (#495)"
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Revert "DCMAW-12000: Reverts IPVCore debug logs" (#513)
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncToken/requestService/requestService.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

ignore changes for md and png
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/helper-scripts-pull-request.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/test-resources-pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12118: create reusable workflow for pull requests
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/helper-scripts-pull-request.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
