Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Make getAuditData test setup more declarative
  backend-api/src/functions/common/request/getAuditData/getAuditData.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

VendorProcessingKMSEncryptionKey description tweak
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

correct logging assertions in sendMessageToSqs
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

test wording in sendMessageToSqs
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

test wording in sendMessageToSqs
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove extra deletion in days var that is not needed
  backend-api/infra/parent.yaml
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

make sendSqsMessage a dep of finishBiometricSession
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert updates to event service - will now use it's own private func again
  backend-api/src/functions/adapters/sqs/types.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/sqsClient.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

move sqsClient into sendSqsMessage func file
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.ts
  backend-api/src/functions/adapters/sqs/sqsClient.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates dlq infra test after feedback
  backend-api/tests/infra-tests/application.test.ts
  backend-api/tests/infra-tests/helpers/isPrimaryQueue.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename variable
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update request body validation
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/common/request/validateSessionId/validateSessionId.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update validateRequestBody function for finishBiometricSession
  backend-api/src/functions/asyncFinishBiometricSession/validateRequestBody/validateRequestBody.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update validateRequestBody function for biometricToken
  backend-api/src/functions/asyncBiometricToken/validateRequestBody/validateRequestBody.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding redirect_uri
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/common/helpers/txmaExtensions.ts
  backend-api/src/functions/services/events/tests/mocks.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing consol.logs
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

chanign extensions from option to comparison
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing getTxMAExtensions
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/common/helpers/txmaExtensions.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating eventService to build extensions
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

resolving merge conflicts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating asyncbiometricSession
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding ability to filter out undefined extensions
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/services/events/eventService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

create new log messages for activeSession
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

make getConfig func for active session like other lambdas for consistency
  backend-api/src/functions/asyncActiveSession/configService/configService.ts
  backend-api/src/functions/asyncActiveSession/getActiveSessionConfig.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update activeSession to use new logging strat
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.ts
  backend-api/src/functions/services/utils/getBearerToken.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update impacted credntial log tests
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

create shared isValidUrl func
  backend-api/src/functions/asyncActiveSession/getActiveSessionConfig.ts
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
  backend-api/src/functions/services/utils/isValidUrl.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11474: Add request body validation (#448)
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncFinishBiometricSession/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/request/validateSessionId/validateSessionId.ts
  backend-api/src/functions/utils/utils.ts
  backend-api/tests/api-tests/biometricToken.test.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove logging dependency in activeSession
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds infra test to check log level for system and application
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update sendMessageToSqs types
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.ts
  backend-api/src/functions/adapters/sqs/types.ts
  backend-api/src/functions/asyncFinishBiometricSession/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/asyncFinishBiometricSession/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update test wording
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

pull test suite step out into own job
  .github/workflows/backend-api-post-merge.yml
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/job_build-and-push-test-image.yml
  .github/workflows/job_build-and-upload-sam-app.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/test-resources-post-merge.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/workflow_post-merge.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Remove logging of messageBody in sendMessageToSQS as will contain PII in future
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

pull test suite step out into own job
  .github/workflows/backend-api-post-merge.yml
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/job_build-and-push-test-image.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/test-resources-post-merge.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Remove duplicate log
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

comment build out for testing
  .github/workflows/job_build-and-push-test-image.yml
  .github/workflows/job_build-and-upload-sam-app.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
