Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

Reorder tests to mirror lambda flow
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename function parameter
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update credential result shape and validation
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
  test-resources/src/functions/dequeueCredentialResult/unitTestData.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update interface name
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.test.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unused test data
  test-resources/src/functions/dequeueCredentialResult/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12181: Update event source mapping dependency
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

implementing ticket
  backend-api/src/functions/adapters/aws/sqs/types.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/getBiometricSession/getBiometricSession.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/getBiometricSession/getBiometricSession.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/asyncIssueBiometricCredential/issueBiometricCredentialConfig.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/src/functions/asyncIssueBiometricCredential/RetainMessageOnQueue.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fixing
  backend-api/src/functions/asyncIssueBiometricCredential/RetainMessageOnQueue.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing things
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/getBiometricSession/getBiometricSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12181: Update event source mapping dependency (#585)
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Rename table and remove error assertion
  test-resources/infra/dequeueCredentialResult/dynamoDb.yaml
  test-resources/infra/dequeueCredentialResult/function.yaml
  test-resources/src/functions/common/dequeueDynamoDbAdapter/dequeueDynamoDbAdapter.test.ts
  test-resources/src/functions/common/dequeueDynamoDbAdapter/dequeueDynamoDbAdapter.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Minor change
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unused test data
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add validation checks
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
  test-resources/src/functions/dequeueCredentialResult/unitTestData.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.test.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Log success when there are no failures writing to Dynamo
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Minor change
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename message code
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Refactor lambda with function for handling credential result
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add log assertion
  test-resources/src/functions/common/dequeueDynamoDbAdapter/dequeueDynamoDbAdapter.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add pk and sk to error log
  test-resources/src/functions/common/dequeueDynamoDbAdapter/dequeueDynamoDbAdapter.test.ts
  test-resources/src/functions/common/dequeueDynamoDbAdapter/dequeueDynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  test-resources/src/functions/common/dequeueDynamoDbAdapter/dequeueDynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update log message
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Assert on batchItemFailures in COMPLETED log
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add assertion for put item command input
  test-resources/src/functions/common/dequeueDynamoDbAdapter/dequeueDynamoDbAdapter.test.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updated test descriptions
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

temp
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12369: Write credential result to DynamoDB (#573)
  test-resources/infra/dequeueCredentialResult/dynamoDb.yaml
  test-resources/infra/dequeueCredentialResult/function.yaml
  test-resources/src/functions/common/config/environment.ts
  test-resources/src/functions/common/dequeueDynamoDbAdapter/dequeueDynamoDbAdapter.test.ts
  test-resources/src/functions/common/dequeueDynamoDbAdapter/dequeueDynamoDbAdapter.ts
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/common/utils/utils.ts
  test-resources/src/functions/dequeue/dequeueHandler.ts
  test-resources/src/functions/dequeue/tests/testData.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultConfig.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
  test-resources/src/functions/dequeueCredentialResult/handlerDependencies.ts
  test-resources/src/functions/dequeueCredentialResult/unitTestData.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.test.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.ts
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Refactor handleCredentialResult function
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor change
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12369: Refactor handling of credential result (#587)
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

actioning ocmments
  backend-api/src/functions/asyncIssueBiometricCredential/RetainMessageOnQueue.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/getBiometricSession/getBiometricSession.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/getBiometricSession/getBiometricSession.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fixing some issues
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/getBiometricSession/getBiometricSession.test.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fixup
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

undo testing changes
  backend-api/infra/functions/issueBiometricCredential.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

template.yaml update
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads
