Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

Update backend-api/infra/monitoring/alarms.yaml
  backend-api/infra/monitoring/alarms.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update alarm description
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12099: Add 'zero VCs issued' alarm (#665)
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12020: lambda throttle alarms
  backend-api/infra/monitoring/throttleAlarms.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13336 Update tests
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12020: lambda throttle alarms (#663)
  backend-api/infra/monitoring/throttleAlarms.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12099: Add issuing VC warning and critical alarms (#659)
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12099: Add 'zero VCs issued' alarm (#665)
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13336 Create new claimed account concurrency alarm
  backend-api/infra/monitoring/concurrencyAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13336 Amend logical ID
  backend-api/infra/monitoring/concurrencyAlarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update tests
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Introduce helper for logging expiry
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13336 Amend alarm name and relevant tests
  backend-api/infra/monitoring/concurrencyAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13336 Update alarm name
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13336 amend tests
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13336 amend tests
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Fix unit test following test data abstraction
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-13336] Create new claimed account concurrency alarm (#667)
  backend-api/infra/monitoring/concurrencyAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13112: Driving Licence Expiry Alarm (#666)
  backend-api/infra/monitoring/alarms.yaml
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Migrate the critical alarm runbook links to point to our Team Manual page
  backend-api/infra/monitoring/alarms.yaml
  backend-api/infra/monitoring/throttleAlarms.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates just mob-async-backend-biometric-credential-lambda-invalid-sqs-event to be critical with infra test, will test and deploy
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-token-4xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-token-5xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-credential-4xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-credential-5xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-issue-biometric-credential-parse-failure to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-async-issue-biometric-credential-vendor-likeness-disabled to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-issue-biometric-credential-biometric-session-not-valid to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-active-session-4xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-active-session-5xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-well-known-5xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-biometric-token-4xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-biometric-token-5xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-finish-biometric-session-4xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-finish-biometric-session-5xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-abort-session-4xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-async-abort-session-5xx-api-gw to critical
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-vendor-processing-dlq-age-of-oldest-message to critical
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-ipv-core-dlq-message-visible to critical
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates mob-async-backend-high-threshold-ipv-core-dlq-age-of-oldest-message to critical
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre
