Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

removing old tests
  backend-api/src/functions/jwks/jwksBuilder/tests/jwksBuilder.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

write vc to outbound queue
  backend-api/src/functions/adapters/aws/sqs/types.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/RetainMessageOnQueue.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update session state
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/common/session/updateOperations/ResultSent/ResultSent.test.ts
  backend-api/src/functions/common/session/updateOperations/ResultSent/ResultSent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/src/functions/jwks/jwksBuilder/jwksBuilder.ts
  backend-api/src/functions/jwks/jwksBuilder/jwksBuilder.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

making changes
  backend-api/README.md
  backend-api/src/functions/jwks/jwksBuilder/jwksBuilder.ts
  backend-api/src/functions/jwks/jwksBuilder/tests/jwksBuilder.test.ts
  backend-api/src/functions/jwks/jwksHandler.test.ts
  backend-api/tests/api-tests/jwks.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/tests/api-tests/jwks.test.ts
  backend-api/tests/api-tests/jwks.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

actioning comments
  backend-api/src/functions/jwks/jwksBuilder/jwksBuilder.ts
  backend-api/tests/api-tests/jwks.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

actioning comments
  backend-api/src/functions/jwks/jwksBuilder/tests/jwksBuilder.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/src/functions/jwks/jwksBuilder/tests/jwksBuilder.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fixing code smell
  backend-api/src/functions/jwks/jwksBuilder/jwksBuilder.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fixing code smell
  backend-api/src/functions/jwks/jwksBuilder/jwksBuilder.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating readme
  backend-api/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/src/functions/jwks/jwksBuilder/jwksBuilder.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fixing api test
  backend-api/tests/api-tests/jwks.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13091: allow perf testers vpc access to proxy api
  backend-api/infra/api/proxy.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Create interface and mock createSignJwt func
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/adapters/aws/kms/types.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13091: allow perf testers vpc access to proxy api (#607)
  backend-api/infra/api/proxy.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

use createSignedJwt dep in lambda, return for now if error - wip
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix dependency interface
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds dep to lambda unit test
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds lambda unit test
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds credentialJwt builder and updates interface
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/adapters/aws/kms/types.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds wip comment
  backend-api/src/functions/adapters/aws/kms/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

correct CredentialJwt type
  backend-api/src/functions/adapters/aws/kms/types.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix dynamo permission error
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

remove alg param, we only use one and is program standard
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/adapters/aws/kms/types.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Fix dynamo updateitem query
  backend-api/src/functions/common/session/updateOperations/ResultSent/ResultSent.test.ts
  backend-api/src/functions/common/session/updateOperations/ResultSent/ResultSent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

validate data sent to event writer
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update rain template
  backend-api/infra/functions/issueBiometricCredential.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

pass through sub only rather than sessionAttributes
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

re ordering
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

move session attribute values to unit test data file
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

move issuer value to unit test data file
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

re ordering
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

move get error name function
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

re naming to be more accurate
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/adapters/aws/kms/types.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

re naming to be more accurate
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12141: Issuing VC | Creation of new signing key (#600)
  backend-api/README.md
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/kms/keys.yaml
  backend-api/src/functions/jwks/configService/configService.ts
  backend-api/src/functions/jwks/handlerDependencies.ts
  backend-api/src/functions/jwks/jwksBuilder/jwksBuilder.ts
  backend-api/src/functions/jwks/jwksBuilder/tests/jwksBuilder.test.ts
  backend-api/src/functions/jwks/jwksBuilder/tests/mocks.ts
  backend-api/src/functions/jwks/jwksHandler.test.ts
  backend-api/src/functions/jwks/jwksHandler.ts
  backend-api/src/functions/types/jwks.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/jwks.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

moves CredentialJwtPayload type
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/adapters/aws/kms/types.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/types/jwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

create generic jwt payload type
  backend-api/src/functions/adapters/aws/kms/createSignedJwt.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
  backend-api/src/functions/types/jwt.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads
