Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11632: Add canary alarms for abort session (#542)
  backend-api/infra/functions/abortSession.yaml
  backend-api/infra/monitoring/canaryAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
  helper-scripts/deploy_backend.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12112: Creates AsyncIssueBiometricCredentialInvalidSqsEventAlarm (#549)
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add dequeue credential result infrastructure
  test-resources/infra/dequeueCredentialResult/function.yaml
  test-resources/src/functions/dequeueCredetialResult/tests/dequeueCredentialResultHandler.test.ts
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11258: AbortSession - Send Error Response Message (#550)
  backend-api/infra/functions/abortSession.yaml
  backend-api/src/functions/adapters/aws/sqs/sendMessageToSqs.ts
  backend-api/src/functions/adapters/aws/sqs/types.ts
  backend-api/src/functions/asyncAbortSession/abortSessionConfig.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/asyncAbortSession/handlerDependencies.ts
  backend-api/src/functions/common/session/updateOperations/AbortSession/AbortSession.test.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Fix directory name
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
  test-resources/src/functions/dequeueCredentialResult/getConfig.ts
  test-resources/src/functions/dequeueCredentialResult/registeredLogs.ts
  test-resources/src/functions/dequeueCredentialResult/tests/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/tests/testData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update infrastructure
  test-resources/infra/dequeueCredentialResult/function.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unused file
  test-resources/src/functions/dequeueCredentialResult/getConfig.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Combine template files
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12160 Set runtime for lambda functions as a global value
  backend-api/Dockerfile
  backend-api/infra/functions/abortSession.yaml
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/biometricToken.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  test-resources/Dockerfile
  test-resources/infra/dequeue/function.yaml
  test-resources/infra/parent.yaml
  test-resources/infra/sts-mock/token/function.yaml
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

DCMAW-12160 Node updates to lambdas and update types/node
  backend-api/package-lock.json
  backend-api/package.json
  backend-api/template.yaml
  test-resources/package-lock.json
  test-resources/package.json
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12160 Update node version for workflow files and nvmrc files
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/test-resources-push-to-main.yml
  backend-api/.nvmrc
  test-resources/.nvmrc
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

Update logging method
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
  test-resources/src/functions/dequeueCredentialResult/tests/dequeueCredentialResultHandler.test.ts
  test-resources/tests/utils/matchers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove testData file
  test-resources/src/functions/dequeueCredentialResult/tests/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/tests/testData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Pass audit data (ipAddress & txmaAuditEncoded) through to all TxMA events in finishBiometricSession
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove duplicate matcher file
  test-resources/src/functions/dequeueCredentialResult/tests/dequeueCredentialResultHandler.test.ts
  test-resources/tests/utils/matchers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12160 Update README and putsession function
  backend-api/README.md
  test-resources/README.md
  test-resources/infra/sessions/putSession/function.yaml
  test-resources/package-lock.json
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

testing
  backend-api/infra/parent.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-12160] Update node version for workflow files and nvmrc files (#548)
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/test-resources-push-to-main.yml
  backend-api/.nvmrc
  backend-api/Dockerfile
  backend-api/README.md
  backend-api/infra/functions/abortSession.yaml
  backend-api/infra/functions/activeSession.yaml
  backend-api/infra/functions/biometricToken.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/functions/proxy.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/infra/parent.yaml
  backend-api/package-lock.json
  backend-api/package.json
  backend-api/template.yaml
  test-resources/.nvmrc
  test-resources/Dockerfile
  test-resources/README.md
  test-resources/infra/dequeue/function.yaml
  test-resources/infra/parent.yaml
  test-resources/infra/sessions/putSession/function.yaml
  test-resources/infra/sts-mock/token/function.yaml
  test-resources/package-lock.json
  test-resources/package.json
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

DCMAW-12160 remove SAM cli version from dev push to main job
  .github/workflows/backend-api-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12160 remove blank spaces
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/test-resources-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

[DCMAW-12160] remove SAM cli version from dev push to main job (#559)
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/test-resources-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

WIP - Update logging method for the STS mock
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/dequeue/dequeueHandler.ts
  test-resources/src/functions/dequeue/registeredLogs.ts
  test-resources/src/functions/dequeue/tests/dequeueHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/registeredLogs.ts
  test-resources/src/functions/services/logging-OLD/README.md
  test-resources/src/functions/services/logging-OLD/commonRegisteredLogs.ts
  test-resources/src/functions/services/logging-OLD/logger.ts
  test-resources/src/functions/services/logging-OLD/tests/logger.test.ts
  test-resources/src/functions/services/logging-OLD/tests/mockLoggingAdapter.ts
  test-resources/src/functions/services/logging-OLD/types.ts
  test-resources/src/functions/sts-mock/token/handlerDependencies.ts
  test-resources/src/functions/sts-mock/token/registeredLogs.ts
  test-resources/src/functions/sts-mock/token/tests/tokenHandler.test.ts
  test-resources/src/functions/sts-mock/token/tokenHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11694: Sends out audit data from all TxMA events from async/finishBiometricSession (#558)
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

implementing ticket
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
  backend-api/src/functions/services/events/types.ts
  backend-api/tests/api-tests/abortSession.test.ts
  test-resources/src/functions/dequeue/getEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12114: update workflows
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Update logging method for dequeue events function
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/dequeue/dequeueHandler.ts
  test-resources/src/functions/dequeue/tests/dequeueHandler.test.ts
  test-resources/src/functions/dequeue/tests/testData.ts
  test-resources/src/functions/sts-mock/token/handlerDependencies.ts
  test-resources/src/functions/sts-mock/token/tests/tokenHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update logging for dequeue credential result function
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
  test-resources/src/functions/dequeueCredentialResult/tests/dequeueCredentialResultHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove common test data file
  test-resources/tests/utils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove redundant log files
  test-resources/src/functions/dequeue/registeredLogs.ts
  test-resources/src/functions/dequeueCredentialResult/registeredLogs.ts
  test-resources/src/functions/sts-mock/token/registeredLogs.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12114: update workflows (#560)
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-12527: allow perf testers VPCe to invoke private api
  backend-api/infra/api/private.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updating
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing unused
  backend-api/src/functions/services/events/eventService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding test
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating some formatting
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fiing issue with deleted import
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing unused test
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing console.logs
  backend-api/tests/api-tests/abortSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unused setup
  test-resources/src/functions/dequeueCredentialResult/tests/dequeueCredentialResultHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update role name
  test-resources/infra/dequeueCredentialResult/function.yaml
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
