Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

[DCMAW-14175] Remove high threshold active session 4XX alarm (#721)
  backend-api/infra/resources/sessionsApi/activeSession/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

update var name
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

formatting
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix readme instructions re vpn
  backend-api/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update job name
  .github/workflows/backend-api-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

make shared job again for pull request
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Revert "make shared job again for pull request"
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

make shared job again for pull request
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

test:pact:ci now calls auth script
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

fix typo in package'
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update local pact script
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

standarise pact script names
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove full stop for consistency
  backend-api/src/functions/tests/pact/setPactCredentials/set_pact_credentials.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds providerVersionBranch and related helper func to verifier config
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add missing return type for helper func
  backend-api/src/functions/tests/pact/pact.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-10158: Adds Pact broker integration (#719)
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/workflow_pull-request.yml
  backend-api/README.md
  backend-api/package.json
  backend-api/src/functions/tests/pact/pact.test.ts
  backend-api/src/functions/tests/pact/pactFiles/IpvCoreBack-DcmawAsyncCriProvider.json
  backend-api/src/functions/tests/pact/setPactCredentials/set_pact_credentials.sh
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

github versions
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/workflow_github_actions_release.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Upgrade biometric-credential package
  backend-api/package-lock.json
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update AsyncIssueBiometricCredentialDrivingLicenceExpiredAlarm threshold
  backend-api/infra/resources/async/issueBiometricCredential/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Pin package version
  backend-api/package-lock.json
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix pact test mock
  backend-api/src/functions/services/clientRegistryService/tests/mocks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13111: Update expired driving licence alarm threshold (#722)
  backend-api/infra/resources/async/issueBiometricCredential/alarms.yaml
  backend-api/package-lock.json
  backend-api/package.json
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

remove bio credential error rate alarm from list of alarms that would trigger canary rollback
  backend-api/infra/resources/async/issueBiometricCredential/function.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-14193: Stops Issue Biometric Credential error rate alarm from triggering canary rollback (#729)
  backend-api/infra/resources/async/issueBiometricCredential/function.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
