Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates biometric tokens's update operation
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates dynamoAdapter to log session attributes in updateSession and updates logic now there are new func types
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates InvalidSessionAttributes type to = unknown
  backend-api/src/functions/common/session/SessionRegistry.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix code smell by using unknown type directly
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Fix code smell re maintainability - This file is part of one cycle involving 2 files
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/session.ts
  backend-api/src/functions/services/session/sessionService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Fix imports
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

move CreateSessionAttributes to more appropriate types folder, move relevant session type as well
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/common/session/session.ts
  backend-api/src/functions/services/session/sessionService.ts
  backend-api/src/functions/services/session/tests/mocks.ts
  backend-api/src/functions/services/session/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix cyclical deps by making types files
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/handlerDependencies.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncBiometricToken/handlerDependencies.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/handlerDependencies.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/handlerDependencies.ts
  backend-api/src/functions/common/errors/errorHandlers.ts
  backend-api/src/functions/common/session/SessionRegistry/SessionRegistry.ts
  backend-api/src/functions/common/session/SessionRegistry/types.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/common/session/updateOperations/AbortSession/AbortSession.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/UpdateSessionOperation.ts
  backend-api/src/functions/services/session/sessionService.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove unneccesary nesting else block
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updatign
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12240: Refactors lambda operations for dynamo as well as relevant types, updates dynamo adapter logic (#572)
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/asyncAbortSession/handlerDependencies.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncBiometricToken/handlerDependencies.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/handlerDependencies.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/handlerDependencies.ts
  backend-api/src/functions/common/errors/errorHandlers.ts
  backend-api/src/functions/common/session/SessionRegistry/SessionRegistry.ts
  backend-api/src/functions/common/session/SessionRegistry/types.ts
  backend-api/src/functions/common/session/getOperations/GetSessionOperation.ts
  backend-api/src/functions/common/session/getOperations/TxmaEvent/GetSessionBiometricTokenIssued.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.test.ts
  backend-api/src/functions/common/session/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/common/session/updateOperations/AbortSession/AbortSession.test.ts
  backend-api/src/functions/common/session/updateOperations/AbortSession/AbortSession.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricTokenIssued/BiometricTokenIssued.ts
  backend-api/src/functions/common/session/updateOperations/UpdateSessionOperation.ts
  backend-api/src/functions/services/session/sessionService.ts
  backend-api/src/functions/services/session/tests/mocks.ts
  backend-api/src/functions/services/session/types.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding RetainMessageOnQueue class
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11839: Add issueBiometricCredential canary alarms (#568)
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/monitoring/canaryAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
  backend-api/tests/infra-tests/template.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

added env vars
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updating
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/issueBiometricCredentialConfig.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Adding env vars to function
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

formatting
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Adds dynamodb:GetItem permission to AsyncIssueBiometricCredentialLambdaRole
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add getSessionRegistry dep to IssueBiometricCredential lambda
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add config func so lambda can get envVars, accesses session_table_name
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/issueBiometricCredentialConfig.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add result sent state
  backend-api/src/functions/common/session/session.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add session_table_name to env in lambda test
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds get operation for issueBiometricToken
  backend-api/src/functions/common/session/getOperations/IssueBiometricCredential/GetSessionIssueBiometricCredential.test.ts
  backend-api/src/functions/common/session/getOperations/IssueBiometricCredential/GetSessionIssueBiometricCredential.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add getSession logic to lambda and handle when it is interal server error
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

test wording
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

WIP - add pattern for writing items to database
  test-resources/src/functions/common/dynamoDBAdapter/dynamoDBAdapter.ts
  test-resources/src/functions/common/dynamoDBAdapter/dynamoDbAdapter.test.ts
  test-resources/src/functions/common/dynamoDBAdapter/putItemOperation.ts
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/dequeueCredentialResult/credentialResult.ts
  test-resources/src/functions/dequeueCredentialResult/credentialResultRegistry/credentialResultRegistry.ts
  test-resources/src/functions/dequeueCredentialResult/credentialResultRegistry/putItemOperation/putItemCredentialResult.test.ts
  test-resources/src/functions/dequeueCredentialResult/credentialResultRegistry/putItemOperation/putItemCredentialResult.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.test.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add database infrastructure and lambda permissions
  test-resources/infra/dequeueCredentialResult/dynamoDb.yaml
  test-resources/infra/dequeueCredentialResult/function.yaml
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Fix flaky test
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add env vars
  test-resources/infra/dequeueCredentialResult/function.yaml
  test-resources/src/functions/common/config/environment.ts
  test-resources/src/functions/common/config/secrets.ts
  test-resources/src/functions/common/logging/LogMessage.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultConfig.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add TTL
  test-resources/src/functions/common/dynamoDBAdapter/dynamoDBAdapter.ts
  test-resources/src/functions/common/dynamoDBAdapter/dynamoDbAdapter.test.ts
  test-resources/src/functions/common/dynamoDBAdapter/putItemOperation.ts
  test-resources/src/functions/common/utils/utils.ts
  test-resources/src/functions/dequeue/dequeueHandler.ts
  test-resources/src/functions/dequeueCredentialResult/credentialResult.ts
  test-resources/src/functions/dequeueCredentialResult/credentialResultRegistry/putItemOperation/putItemCredentialResult.test.ts
  test-resources/src/functions/dequeueCredentialResult/credentialResultRegistry/putItemOperation/putItemCredentialResult.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.test.ts
  test-resources/src/functions/dequeueCredentialResult/dequeueCredentialResultHandler.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.test.ts
  test-resources/src/functions/dequeueCredentialResult/validateCredentialResult/validateCredentialResult.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

actioning @chris-cooksley-gds comments
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/parent.yaml
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/issueBiometricCredentialConfig.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

adding in error for config validation
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Testing
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

fixing staging, int and prod
  backend-api/infra/parent.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating template
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

updating to RetainMessageOnQueue
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
