Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updating tests
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/tests/api-tests/finishBiometricSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

GenericEventNames | TxmaBillingEventName
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating test
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

actioning comments
  backend-api/src/functions/services/events/types.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removed flag check
  backend-api/tests/api-tests/finishBiometricSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing clientId
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing clientId
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding flags tests
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Amend metric filter name
  backend-api/infra/monitoring/alarms.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating tests
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12524 | ISSUE VC | Write VC_ISSUED event to TxMA (#631)
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
  backend-api/src/functions/services/events/types.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/template.yaml
  test-resources/src/functions/dequeue/getEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Write API test
  backend-api/tests/api-tests/finishBiometricSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Parse base session attributes on BiometricSessionFinished failure
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add test for VC issued and document type logs
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Move test
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor update
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Remove session does not exist test case
  backend-api/tests/api-tests/finishBiometricSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add log for when a session is created
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update metric filter with new log message
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Extract new metric filters to new metrics.yaml
  backend-api/infra/monitoring/alarms.yaml
  backend-api/infra/monitoring/metrics.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-12184] Update non-prod API rate limits
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12527: Add performance test vpce to private api
  backend-api/infra/api/private.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/api-tests/abortSession.test.ts
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

fix infra tests
  backend-api/tests/infra-tests/application.test.ts
  backend-api/tests/infra-tests/template.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-12227] Validate for base session attributes when FinishBiometricSession update fails (#636)
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/tests/api-tests/finishBiometricSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove console.log
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12527: Add performance test vpce to private api (#637)
  backend-api/infra/api/private.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/api-tests/abortSession.test.ts
  backend-api/tests/infra-tests/application.test.ts
  backend-api/tests/infra-tests/template.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Use prodlike rate limits in staging/int
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

[DCMAW-12184] Update non-prod API rate limits (#638)
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12526: Add metric filters and VC issued log with documentType value (#635)
  backend-api/infra/monitoring/metrics.yaml
  backend-api/package-lock.json
  backend-api/package.json
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

implementing ticket
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

adding in whitespace
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/functions/token.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing extra comments and moving to dev:
  backend-api/infra/parent.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13310: add QueueName to sqs queues
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCore.yaml
  backend-api/infra/queue/txma.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

infra test update
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13310: add QueueName to sqs queues (#641)
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCore.yaml
  backend-api/infra/queue/txma.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12185: Update lambda concurrency in non-prod environments (#640)
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/jwks.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13310: switch to use new queue resources
  backend-api/infra/functions/abortSession.yaml
  backend-api/infra/functions/biometricToken.yaml
  backend-api/infra/functions/credential.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/issueBiometricCredential.yaml
  backend-api/infra/functions/token.yaml
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/infra/parent.yaml
  backend-api/infra/queue/ipvCore.yaml
  backend-api/infra/queue/txma.yaml
  backend-api/template.yaml
  test-resources/infra/dequeue/function.yaml
  test-resources/infra/dequeueCredentialResult/function.yaml
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
