Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/openApiSpecs/async-public-spec.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11473: Add skeleton Lambda for /async/txmaEvent (#444)
  backend-api/infra/functions/txmaEvent.yaml
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/handlerDependencies.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/txmaEvent.test.ts
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Remove registeredLogs and logger dependency
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/handlerDependencies.ts
  backend-api/src/functions/asyncCredential/registeredLogs.ts
  backend-api/src/functions/tests/pact/dependencies/asyncCredentialDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update unit tests
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Fix pact tests
  backend-api/src/functions/tests/pact/createApp.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update openAPI spec with 400 response
  backend-api/openApiSpecs/async-public-spec.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Spacing
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-11433] Log STARTED message and append lambdaVersion key in async/credential (#446)
  backend-api/docs/logging.md
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/asyncCredential/handlerDependencies.ts
  backend-api/src/functions/asyncCredential/registeredLogs.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/tests/pact/createApp.ts
  backend-api/src/functions/tests/pact/dependencies/asyncCredentialDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11433 Created alarms for 5 of the lambdas for canary deployments
  backend-api/infra/monitoring/alarms.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add request body validation
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates lambda tests with new logging assertions
  backend-api/src/functions/asyncToken/asyncTokenHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates logger in token lambda:
  backend-api/src/functions/asyncToken/asyncTokenHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds new LogMessages
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove logger from tokenHandler dependencies
  backend-api/src/functions/asyncToken/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove old registered logs
  backend-api/src/functions/asyncToken/registeredLogs.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds common setup logger func and use in token and cred lambda
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/asyncToken/asyncTokenHandler.ts
  backend-api/src/functions/common/logging/setupLogger.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Fix pact test
  backend-api/src/functions/tests/pact/dependencies/asyncTokenDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Formatting
  backend-api/src/functions/asyncToken/asyncTokenHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

use setupLogger in biomticToken and finishBioSession
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates test wording
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncToken/asyncTokenHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Refactor request validation
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11433: Updates logger in async/token to follow new logging pattern, appends keys, STARTED log (#447)
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/asyncToken/asyncTokenHandler.test.ts
  backend-api/src/functions/asyncToken/asyncTokenHandler.ts
  backend-api/src/functions/asyncToken/handlerDependencies.ts
  backend-api/src/functions/asyncToken/registeredLogs.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/logging/setupLogger.ts
  backend-api/src/functions/tests/pact/dependencies/asyncTokenDependencies.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11654: investigating github actions
  .github/workflows/backend-api-post-merge.yml
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job-build-and-push-test-image.yml
  .github/workflows/job_build-and-push-test-image.yml
  .github/workflows/job_build-and-upload-sam-app.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/test-resources-post-merge.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
  .github/workflows/workflow_ci-checks.yml
  .github/workflows/workflow_post-merge.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Revert "Refactor request validation"
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update test
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds resources for vendor processing; sqs queue, queue policy, DLQ and policy, KMS key and alias and global envVar
  backend-api/infra/parent.yaml
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-11654: investigating github actions
  .github/workflows/backend-api-post-merge.yml
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job-build-and-push-test-image.yml
  .github/workflows/job_build-and-push-test-image.yml
  .github/workflows/job_build-and-upload-sam-app.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/test-resources-post-merge.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
  .github/workflows/workflow_ci-checks.yml
  .github/workflows/workflow_post-merge.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Extract sessionId valdiation into common folder and add UUID validation
  backend-api/openApiSpecs/async-public-spec.yaml
  backend-api/src/functions/asyncBiometricToken/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/asyncFinishBiometricSession/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/common/request/validateSessionId/validateSessionId.ts
  backend-api/src/functions/utils/utils.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds VendorProcessingPendingDeletionInDays to template
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update Lambdas to use common sessionId validation function
  backend-api/src/functions/asyncBiometricToken/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/asyncFinishBiometricSession/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.ts
  backend-api/src/functions/common/request/validateSessionId/validateSessionId.ts
  backend-api/src/functions/utils/utils.ts
  backend-api/tests/api-tests/biometricToken.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Give all kms permissions for now
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Give correct sqs and kms permissions to biometricSession lambda
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

adds sqs log messages
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

create bespoke writeToSqs function
  backend-api/src/functions/adapters/tests/writeToSqs.test.ts
  backend-api/src/functions/adapters/writeToSqs.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Give lambda access to new queue arn envVar
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/finishBiometricSessionConfig.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

mock sqs all in main beforeEach
  backend-api/src/functions/adapters/tests/writeToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11654: investigating github actions
  .github/workflows/backend-api-post-merge.yml
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job-build-and-push-test-image.yml
  .github/workflows/job_build-and-push-test-image.yml
  .github/workflows/job_build-and-upload-sam-app.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/test-resources-post-merge.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
  .github/workflows/workflow_post-merge.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

write vendor processing message and send 5xx txma event if write fails
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds lambda helper function for dealing with failing to write to vendor processing queue
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Create test helper for starting biometricSession
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
