Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

Writes valid request api test for finishBiometricSession
  backend-api/tests/api-tests/finishBiometricSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Do not stringify sqs message in lambda
  backend-api/src/functions/adapters/writeToSqs.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Fix writeToSqs test data
  backend-api/src/functions/adapters/tests/writeToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Restructure sqs folders
  backend-api/src/functions/adapters/sqs/sqsClient.ts
  backend-api/src/functions/adapters/sqs/types.ts
  backend-api/src/functions/adapters/sqs/writeToSqs.test.ts
  backend-api/src/functions/adapters/sqs/writeToSqs.ts
  backend-api/src/functions/adapters/writeToSqs.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Account for differentDeltionInDays in mapping for vendor processing queue in infra test
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update api helper func error message
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update sqs type
  backend-api/src/functions/adapters/sqs/types.ts
  backend-api/src/functions/adapters/sqs/writeToSqs.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fix spelling mistake in sqs types
  backend-api/src/functions/adapters/sqs/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update eventService to use writeToSqs function rather than private class function
  backend-api/src/functions/adapters/sqs/types.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

check writeToSqs called with correct args in lambda test file
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

check sendCommand called with correct args in sqs test file
  backend-api/src/functions/adapters/sqs/writeToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

get audit data for txma event
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11654: investigating github actions
  .github/workflows/backend-api-post-merge.yml
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job_build-and-push-test-image.yml
  .github/workflows/job_build-and-upload-sam-app.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/test-resources-post-merge.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
  .github/workflows/workflow_post-merge.yml
  README.md
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

move audit headers getting further up to where it will be used in future and genenral spacing
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

test without gen proxy opne api spec
  .github/workflows/job_ci-checks.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

update eventService wording
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

spacing
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename writeToSqs to sendMessageToSqs
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Rename writeToSqs to sendMessageToSqs part 2
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

remove conditions that are not needed in resources
  backend-api/infra/parent.yaml
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Wording update in test
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

assert on full log for sqs attempt log so as to check for PII
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update sendMessageToSqs func parameter name
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update sendMessageToSqs func param name and types
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.ts
  backend-api/src/functions/adapters/sqs/types.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Create helper function to get audit data
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/common/request/getAuditData/getAuditData.test.ts
  backend-api/src/functions/common/request/getAuditData/getAuditData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

refactor getAuditData
  backend-api/src/functions/common/request/getAuditData/getAuditData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Renaming of funcs in lambda to reference vendor processing queue
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Create var for mockQueueArn value in test
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Mock mock step to lower before each block in sendMessageToSqs test file
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert updates to api tests
  backend-api/tests/api-tests/finishBiometricSession.test.ts
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

validate user identity and select account
  helper-scripts/client-registration/dist/application/awsAccount.js
  helper-scripts/client-registration/dist/common/aws/aws-clients.js
  helper-scripts/client-registration/dist/common/results.js
  helper-scripts/client-registration/dist/main.js
  helper-scripts/client-registration/package-lock.json
  helper-scripts/client-registration/package.json
  helper-scripts/client-registration/src/application/awsAccount.ts
  helper-scripts/client-registration/src/common/aws/aws-clients.ts
  helper-scripts/client-registration/src/common/results.ts
  helper-scripts/client-registration/src/main.ts
  helper-scripts/client-registration/tsconfig.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds infra test to check all sqs have dlq
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates names where I had written SQSQueue, now just SQS
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/parent.yaml
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updates vendor processing dlq name
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
  backend-api/tests/infra-tests/helpers/isPrimaryQueue.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

formatting
  backend-api/tests/infra-tests/helpers/isPrimaryQueue.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unused outputs
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

remove unused policy
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

minor interface renaming in finishBiometricSession lambda
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

wording tweak in getAuditData test
  backend-api/src/functions/common/request/getAuditData/getAuditData.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

VendorProcessingKMSEncryptionKey description tweak
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre
