Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Remove unused imports
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove test step
  backend-api/tests/api-tests/biometricToken.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update and fix test helper function
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Refactor tests
  backend-api/tests/api-tests/biometricToken.test.ts
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Chris review comments
  helper-scripts/src/index.ts
  helper-scripts/src/stackManagementTool/delete/deleteStacksTool/deleteStacksTool.ts
  helper-scripts/src/stackManagementTool/deploy/deployStackTool.ts
  helper-scripts/src/stackManagementTool/generateEnv/generateEnvTool.ts
  helper-scripts/src/stackManagementTool/stackManagementTool.ts
  helper-scripts/src/stackManagementTool/styling/styling.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add Events API URL to scripts for API tests
  backend-api/generate_env_file.sh
  backend-api/run-tests-locally.sh
  backend-api/run-tests.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Move event timestamp check to before block
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Enhance event timestamp check for reliability
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove logs from script
  backend-api/run-tests-locally.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update error message
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Refactor test setup
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove comment
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11168: use latest version of cf template
  helper-scripts/deploy_backend.sh
  helper-scripts/generate_cf_dist_parameters.sh
  helper-scripts/get_template_versionid.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

implementing ticket DCMAW-11109 - finish biometric session
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/package.json
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/finishBiometricSessionConfig.ts
  backend-api/src/functions/asyncFinishBiometricSession/handlerDependencies.ts
  backend-api/src/functions/common/lambdaResponses.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/session/session.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
  backend-api/src/functions/common/session/updateOperations/sessionAttributes/sessionAttributes.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/mocks.ts
  backend-api/src/functions/services/events/types.ts
  backend-api/src/functions/testUtils/unitTestData.ts
  backend-api/template.yaml
  backend-api/tests/api-tests/finishBiometricSession.test.ts
  backend-api/tests/api-tests/utils/apiTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Remove unused import
  backend-api/tests/api-tests/biometricToken.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

update to v2.1.0
  helper-scripts/deploy_backend.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating tests
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

refactoring lambda
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating eventService test to hit biometricsession
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating test coverage
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/functions/finishBiometricSession.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating template
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Reorder tests
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Reorder tests
  backend-api/tests/api-tests/biometricToken.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11007: Add TxMA event happy path assertions to backend API test (#426)
  backend-api/generate_env_file.sh
  backend-api/run-tests-locally.sh
  backend-api/run-tests.sh
  backend-api/tests/api-tests/biometricToken.test.ts
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
  backend-api/tests/api-tests/utils/apiInstance.ts
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11168: use latest version of cf template 2.1.0 (#428)
  helper-scripts/deploy_backend.sh
  helper-scripts/generate_cf_dist_parameters.sh
  helper-scripts/get_template_versionid.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "DCMAW-11007: Add TxMA event happy path assertions to backend API test (#426)"
  backend-api/generate_env_file.sh
  backend-api/run-tests-locally.sh
  backend-api/run-tests.sh
  backend-api/tests/api-tests/biometricToken.test.ts
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
  backend-api/tests/api-tests/utils/apiInstance.ts
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "DCMAW-11007: Add TxMA event happy path assertions to backend … (#431)
  backend-api/generate_env_file.sh
  backend-api/run-tests-locally.sh
  backend-api/run-tests.sh
  backend-api/tests/api-tests/biometricToken.test.ts
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
  backend-api/tests/api-tests/utils/apiInstance.ts
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating readme
  backend-api/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating timing to just jest mock timers and epoch times
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

restructuring test scenario structure to fail fisrt succeed last
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

switching to config
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removed unused
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/tests/api-tests/finishBiometricSession.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Revert "Bump the gha-version group across 1 directory with 3 updates (#430)"
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job-build-and-push-test-image.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Revert "Bump the gha-version group across 1 directory with 3 updates (#430)"
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job-build-and-push-test-image.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Revert "Bump the gha-version group across 1 directory with 3 updates" (#433)
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/backend-api-push-to-main.yml
  .github/workflows/job-build-and-push-test-image.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Reapply "DCMAW-11007: Add TxMA event happy path assertions to backend … (#431)
  backend-api/generate_env_file.sh
  backend-api/run-tests-locally.sh
  backend-api/run-tests.sh
  backend-api/tests/api-tests/biometricToken.test.ts
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
  backend-api/tests/api-tests/utils/apiInstance.ts
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating common/session
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.test.ts
  backend-api/src/functions/common/session/updateOperations/BiometricSessionFinished/BiometricSessionFinished.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
