Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12925: Update Private API rate and burst limits in Prod (#652)
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

[DCMAW-13496] Raise STS mock burst/rate limits in build
  test-resources/infra/parent.yaml
  test-resources/template.yaml
  test-resources/tests/infrastructure-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

[DCMAW-13496] Raise STS mock burst/rate limits in build (#654)
  test-resources/infra/parent.yaml
  test-resources/template.yaml
  test-resources/tests/infrastructure-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add asyncIssueBiometricCredential parse failure high and low threshold alarms
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add vendor likeness disabled alarm
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add biometric session not valid high and low threshold alarms
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add infra tests
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12521: Add BiometricCredential error alarms (#655)
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add AsyncIssueBiometricCredential warning and critical alarms when there are errors writing audit events
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12926 Update Production env lambda concurrency
  backend-api/infra/parent.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add warning and critical alarms for invalid vendor responses
  backend-api/infra/monitoring/alarms.yaml
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12926 Update infra tests for new concurrent execution values
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add infra tests
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add zero VCs issued critical alarm
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

doing ticket
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
  test-resources/src/functions/dequeue/getEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-12926] Update Production env lambda concurrency values (#660)
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update error writing audit event low threshold alarm
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13589: Adding Missing Unit Tests for TxMA Events (#661)
  backend-api/src/functions/asyncTxmaEvent/validateRequestBody/validateRequestBody.test.ts
  test-resources/src/functions/dequeue/getEvent.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12926: improve test logging when no active session found
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

apply suggestion to maintain previous error message string
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

west side story
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12926: Enhance API test logs when active session cannot be found (#662)
  backend-api/tests/api-tests/utils/apiTestHelpers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Amend zero VCs issued alarm
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Remove zero VCs issued alarm
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update backend-api/template.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Add alarms to warning alarms infra test
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-backend

Remove log message and update get biometric session failure alarms
  backend-api/infra/monitoring/alarms.yaml
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Update alarm name
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

implementing ticket
  backend-api/infra/monitoring/alarms.yaml
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-12099: Add issuing VC warning and critical alarms (#659)
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13336 Create account concurrency alarm and test
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Add zero VCs issued alarm
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

removing test case
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding test case
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding space
  backend-api/infra/monitoring/alarms.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

changing threshold
  backend-api/infra/monitoring/alarms.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

doing template
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-13336 Move concurrency alarm into separate template, update threshold, name and tests for new values
  backend-api/infra/monitoring/alarms.yaml
  backend-api/infra/monitoring/lambdaConcurrencyAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
