Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Replace test data string with variable
  test-resources/src/dequeue/tests/testData.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

updating tests
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

updating tests
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

fixing tests
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

[DCMAW-11004] Define client registry secret path separately per environment
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check

prittier
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

update mockDbClient to use rejects as default
  test-resources/src/dequeue/tests/dequeueHandler.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

updating test tile
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

remove duplicate assertion
  test-resources/src/dequeue/tests/dequeueHandler.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

update test decriptions
  test-resources/src/dequeue/tests/dequeueHandler.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

update logging readme
  test-resources/src/services/logging/README.md
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

remove comment
  test-resources/src/dequeue/dequeueHandler.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

[DCMAW-11004] Define client registry secret path separately per environment (#329)
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check

add assertions to happy path tests
  test-resources/src/dequeue/tests/dequeueHandler.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

extract getEvent function
  test-resources/src/dequeue/dequeueHandler.ts
  test-resources/src/dequeue/getEvent.ts
  test-resources/src/dequeue/tests/dequeueHandler.test.ts
  test-resources/src/dequeue/tests/getEvent.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

DCMAW-10799: Enable Dequeue Lambda to write TxMA events into new Dequeue table (#321)
  helper-scripts/deploy_test_resources.sh
  test-resources/package-lock.json
  test-resources/package.json
  test-resources/src/dequeue/dequeueHandler.test.ts
  test-resources/src/dequeue/dequeueHandler.ts
  test-resources/src/dequeue/getConfig.ts
  test-resources/src/dequeue/getEvent.ts
  test-resources/src/dequeue/registeredLogs.ts
  test-resources/src/dequeue/tests/dequeueHandler.test.ts
  test-resources/src/dequeue/tests/getEvent.test.ts
  test-resources/src/dequeue/tests/testData.ts
  test-resources/src/services/logging/README.md
  test-resources/src/services/logging/logger.ts
  test-resources/src/services/logging/tests/logger.test.ts
  test-resources/src/services/logging/tests/mockContext.ts
  test-resources/src/services/logging/tests/mockLogger.ts
  test-resources/src/services/logging/types.ts
  test-resources/src/utils/result.ts
  test-resources/src/utils/tests/result.test.ts
  test-resources/template.yaml
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updating tests
  .pre-commit.config.yaml
  backend-api/infra/api/privateApi.cloudFormation.yaml
  backend-api/infra/api/proxyApi.cloudFormation.yaml
  backend-api/infra/api/sessionsApi.cloudFormation.yaml
  backend-api/infra/functions/activeSession.cloudFormation.yaml
  backend-api/infra/functions/biometricToken.cloudFormation.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
  backend-api/tests/infra-tests/cloudFormation.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updating tests
  backend-api/tests/infra-tests/cloudFormation.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

Create dummy func and interface for getBiometricToken
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

Update getBiometricToken type name
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

Adds getBiometricToken to lambda deps
  backend-api/src/functions/asyncBiometricToken/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

Adds lambda test for when there is an error getting biometric token
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.ts
  backend-api/src/functions/asyncBiometricToken/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.ts
  backend-api/src/functions/asyncBiometricToken/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.ts
  backend-api/src/functions/asyncBiometricToken/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

use dummy getBiometricToken func in lambda
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

call func from lambda via dependencies rather than importing directly
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

updating
  backend-api/infra/api/private.cloudformation.yaml
  backend-api/infra/api/proxie.cloudformation.yaml
  backend-api/infra/api/sessions.cloudformation.yaml
  backend-api/infra/monitoring/alarms.cloudFormation.yaml
  backend-api/infra/parent.yaml
  backend-api/infra/storage/session.cloudformation.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

formatting
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

Introduce env var for ReadID base URL
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncBiometricToken/biometricTokenConfig.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Refactor dependencies
  backend-api/src/functions/asyncBiometricToken/handlerDependencies.ts
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

Use correct ReadID endpoints
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

set readId env var values to empty string in stage, int, prod
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

DCMAW-10829: Adds dummy function and types for getBiometricToken function allowing parallel work streams (#334)
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncBiometricToken/biometricTokenConfig.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.ts
  backend-api/src/functions/asyncBiometricToken/handlerDependencies.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

adding other alarms
  backend-api/infra/monitoring/alarms.cloudFormation.yaml
Owners: @govuk-one-login/mobile-id-check, @govuk-one-login/mobile-leads

.github/CODEOWNERS:

# This is the CODEOWNERS file. These owners will be the default owners for everything in the DI-IPV-DCA-BACK repository
# The following below will be requested for review when someone opens a pull request.

* @govuk-one-login/mobile-id-check @govuk-one-login/mobile-leads

# All changes in .github directory to be checked by SRE
.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

# All changes to Dockerfiles and CloudFormation templates to be checked by SRE
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

# Platform team owns CloudFormation templates
/infra/ @govuk-one-login/mobile-leads
