Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

Adds log when active session is not found
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates test wording around failing messages and events
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove unused async key word now await has been moved into beforeEach
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Spelling
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Adds vendor processing queue failure log and update test structure
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

testing duplication fix
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating with new duplication fix
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

trying a different implementation
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Add config validation
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.ts
  backend-api/src/functions/asyncTxmaEvent/txmaEventConfig.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

reverting changes
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor ordering/spacing changes in finishBiometricSession
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Minor ordering/spacing changes in finishBiometricSession
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

simplify builder function into one unified func with pick type
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update log message to be just for finishbiometricsession and not be shared
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/common/logging/LogMessage.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Updates active session not found log to info level
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Refactor step to check if sts base url is url
  backend-api/src/functions/asyncActiveSession/getActiveSessionConfig.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11030: Updates logger in async/activeSession to follow new logging pattern, appends keys, STARTED log (#457)
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.ts
  backend-api/src/functions/asyncActiveSession/configService/configService.ts
  backend-api/src/functions/asyncActiveSession/getActiveSessionConfig.ts
  backend-api/src/functions/asyncActiveSession/handlerDependencies.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/services/clientRegistryService/clientRegistryService.ts
  backend-api/src/functions/services/utils/getBearerToken.ts
  backend-api/src/functions/services/utils/isValidUrl.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11110: Write message to Vendor Processing Queue (#452)
  backend-api/infra/functions/finishBiometricSession.yaml
  backend-api/infra/parent.yaml
  backend-api/infra/queue/vendorProcessing.yaml
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.test.ts
  backend-api/src/functions/adapters/sqs/sendMessageToSqs.ts
  backend-api/src/functions/adapters/sqs/types.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/finishBiometricSessionConfig.ts
  backend-api/src/functions/asyncFinishBiometricSession/handlerDependencies.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/request/getAuditData/getAuditData.test.ts
  backend-api/src/functions/common/request/getAuditData/getAuditData.ts
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

add workflows for pr and post merge
  .github/workflows/backend-api-post-merge.yml
  .github/workflows/backend-api-pull-request.yml
  .github/workflows/job_build-and-push-test-image.yml
  .github/workflows/job_build-and-upload-sam-app.yml
  .github/workflows/job_ci-checks.yml
  .github/workflows/job_sonarqube.yml
  .github/workflows/job_test-suite.yml
  .github/workflows/test-resources-post-merge.yml
  .github/workflows/test-resources-pull-request.yml
  .github/workflows/test-resources-push-to-main.yml
  .github/workflows/workflow_post-merge.yml
  .github/workflows/workflow_pull-request.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Add getSession initial log
  backend-api/src/functions/adapters/dynamoDbAdapter.ts
  backend-api/src/functions/adapters/tests/dynamoDbAdapter.test.ts
  backend-api/src/functions/common/logging/LogMessage.ts
  backend-api/src/functions/common/session/SessionRegistry.ts
  backend-api/src/functions/testUtils/unitTestData.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11906: remove deprecated types package
  backend-api/package-lock.json
  backend-api/package.json
  test-resources/package-lock.json
  test-resources/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding redirect_uri
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/common/helpers/txmaExtensions.ts
  backend-api/src/functions/services/events/tests/mocks.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing consol.logs
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

chanign extensions from option to comparison
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing getTxMAExtensions
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/common/helpers/txmaExtensions.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating eventService to build extensions
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.test.ts
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating asyncbiometricSession
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

resolving merge conflicts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adding ability to filter out undefined extensions
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

formatting
  backend-api/src/functions/services/events/eventService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

rebasing to main
  backend-api/src/functions/asyncFinishBiometricSession/asyncFinishBiometricSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11906: remove deprecated eslint types package (#461)
  backend-api/package-lock.json
  backend-api/package.json
  test-resources/package-lock.json
  test-resources/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing comment
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

making some final changes
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.test.ts
  backend-api/src/functions/asyncBiometricToken/asyncBiometricTokenHandler.ts
  backend-api/src/functions/services/events/eventService.ts
  backend-api/src/functions/services/events/tests/eventService.test.ts
  backend-api/src/functions/services/events/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Re structure adapters folder
  backend-api/src/functions/adapters/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/adapters/kms/kmsAdapter.test.ts
  backend-api/src/functions/adapters/kms/kmsAdapter.ts
  backend-api/src/functions/adapters/kms/mocks.ts
  backend-api/src/functions/adapters/parameterStore/getSecretsFromParameterStore.test.ts
  backend-api/src/functions/adapters/parameterStore/getSecretsFromParameterStore.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Create aws folder within adapters
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/adapters/aws/kms/kmsAdapter.test.ts
  backend-api/src/functions/adapters/aws/kms/kmsAdapter.ts
  backend-api/src/functions/adapters/aws/kms/mocks.ts
  backend-api/src/functions/adapters/aws/parameterStore/getSecretsFromParameterStore.test.ts
  backend-api/src/functions/adapters/aws/parameterStore/getSecretsFromParameterStore.ts
  backend-api/src/functions/adapters/aws/sqs/sendMessageToSqs.test.ts
  backend-api/src/functions/adapters/aws/sqs/sendMessageToSqs.ts
  backend-api/src/functions/adapters/aws/sqs/types.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

move http across to adapters and update imports
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.test.ts
  backend-api/src/functions/adapters/aws/dynamo/dynamoDbAdapter.ts
  backend-api/src/functions/adapters/aws/kms/kmsAdapter.test.ts
  backend-api/src/functions/adapters/aws/kms/mocks.ts
  backend-api/src/functions/adapters/aws/parameterStore/getSecretsFromParameterStore.test.ts
  backend-api/src/functions/adapters/aws/parameterStore/getSecretsFromParameterStore.ts
  backend-api/src/functions/adapters/aws/sqs/sendMessageToSqs.test.ts
  backend-api/src/functions/adapters/aws/sqs/sendMessageToSqs.ts
  backend-api/src/functions/adapters/http/sendHttpRequest.test.ts
  backend-api/src/functions/adapters/http/sendHttpRequest.ts
  backend-api/src/functions/asyncActiveSession/jwe/jweDecrypter.ts
  backend-api/src/functions/asyncActiveSession/jwe/tests/jweDecrypter.test.ts
  backend-api/src/functions/asyncActiveSession/tokenService/publicKeyGetter.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.test.ts
  backend-api/src/functions/asyncBiometricToken/getBiometricToken/getBiometricToken.ts
  backend-api/src/functions/asyncBiometricToken/handlerDependencies.ts
  backend-api/src/functions/asyncFinishBiometricSession/handlerDependencies.ts
  backend-api/src/functions/services/session/sessionService.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-11909: update VPC endpoint ID for IPVCore integration
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

[DCMAW-11909] update VPC endpoint ID for IPVCore integration (#465)
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre
