Repository govuk-one-login/mobile-id-check-async, changes with the owners that .github/CODEOWNERS names for each.
All owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

.github/CODEOWNERS:

* @govuk-one-login/mobile-id-check-backend @govuk-one-login/mobile-leads

.github/ @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/template.yaml @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads
**/Dockerfile @govuk-one-login/mobile-id-check-sre @govuk-one-login/mobile-leads

DCMAW-13755: Demote zero journey starts alarm to warning
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Adds comment advising if res concur ever changed, alarms need updating
  backend-api/infra/parent.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13755: Demote zero journey starts alarm to warning (#678)
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

DCMAW-13506: Send transaction ID in DCMAW_ASYNC_CRI_END (#677)
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.test.ts
  backend-api/src/functions/asyncIssueBiometricCredential/asyncIssueBiometricCredentialHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

implementing ticket
  backend-api/src/functions/common/errors/errorHandlers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating test
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12556: Fix async/abortSession incorrectly writing fraud signal into TxMA event (#679)
  backend-api/src/functions/asyncAbortSession/asyncAbortSessionHandler.test.ts
  backend-api/src/functions/common/errors/errorHandlers.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-12192: Adds lambda reaching concurrency limit alarms (#675)
  backend-api/infra/monitoring/concurrencyAlarms.yaml
  backend-api/infra/parent.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

ignore major types/node version bump in dependabot yaml
  .github/dependabot.yml
Owners: @govuk-one-login/mobile-id-check-sre, @govuk-one-login/mobile-leads

Install latest version of node/types v 22
  backend-api/package-lock.json
  backend-api/package.json
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Logs completed when session not found in active session handler
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

increase active session 4xx alarms to require 20 invocations
  backend-api/infra/monitoring/alarms.yaml
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

implementing ticket
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

adds activeSessionFound property to active session completed logs to help differentiate
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13842: Tune async/activeSession alarms (#687)
  backend-api/infra/monitoring/alarms.yaml
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.test.ts
  backend-api/src/functions/asyncActiveSession/asyncActiveSessionHandler.ts
  backend-api/template.yaml
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

updating tests
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Fix readme typo [skip canary]
  backend-api/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13842: Fix readme typo [skip canary] (#689)
  backend-api/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

removing comment and merging two describe.each into one
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update backend-api/tests/api-tests/txmaEvent.test.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updating
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Remove active session ID check from async credential
  backend-api/openApiSpecs/async-private-spec.yaml
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/services/session/sessionService.ts
  backend-api/src/functions/services/session/tests/mocks.ts
  backend-api/src/functions/services/session/tests/sessionService.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

Update API tests
  backend-api/tests/api-tests/activeSession.test.ts
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13590: "Add API and unit tests for all billing events in the txmaEvent lambda (#688)
  backend-api/src/functions/asyncTxmaEvent/asyncTxmaEventHandler.test.ts
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

[DCMAW-13903] Remove active session check from async credential lambda (#691)
  backend-api/openApiSpecs/async-private-spec.yaml
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.test.ts
  backend-api/src/functions/asyncCredential/asyncCredentialHandler.ts
  backend-api/src/functions/services/session/sessionService.ts
  backend-api/src/functions/services/session/tests/mocks.ts
  backend-api/src/functions/services/session/tests/sessionService.test.ts
  backend-api/tests/api-tests/activeSession.test.ts
  backend-api/tests/api-tests/clientCredentialsGrantFlow.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

defining txmaBillingEvents array in event test
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

fixing issue with txma
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

DCMAW-13590-hotfix: Hotfixing issue with pipeline deployment in DCMAW-13590 (#692)
  backend-api/tests/api-tests/txmaEvent.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

create deleteStackSets script
  helper-scripts/.gitignore
  helper-scripts/delete_stack.sh
  helper-scripts/package.json
  helper-scripts/src/deleteStackSets/deleteStackSets.ts
  helper-scripts/src/deleteStackSets/deleteStacks/deleteStacks.ts
  helper-scripts/src/deleteStackSets/getStacks/getStacks.ts
  helper-scripts/src/deleteStackSets/getStacks/prompts.ts
  helper-scripts/src/deleteStackSets/protectedStacks.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

doing ticket
  backend-api/infra/monitoring/sqsAlarms.yaml
  backend-api/template.yaml
  backend-api/tests/infra-tests/application.test.ts
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads, @govuk-one-login/mobile-id-check-sre

Updates sh script to delete full set
  helper-scripts/delete_stack.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates readme
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

readme tweek
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

ignore delete responses
  helper-scripts/.gitignore
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

minor style tweeks
  helper-scripts/delete_stack.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates readme
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

updates readme
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

indentation tweak
  helper-scripts/delete_stack.sh
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads

add guidance to delete non standard stack name
  helper-scripts/README.md
Owners: @govuk-one-login/mobile-id-check-backend, @govuk-one-login/mobile-leads
